// Add custom fonts by visiting and search https://fonts.google.com
// Playfair Display
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Lora
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/variables';

/* Global styles */
@import 'global/apps';
@import 'global/flex';
@import 'global/grid';
@import 'global/window';

/* Styles limited to archetericalite sheets */
.mysystem {
  @import 'components/forms';
  @import 'components/limited-actor';
  @import 'components/resource';
}
