// Add custom fonts by visiting and search https://fonts.google.com
// Noto Serif Display
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
// Old Standard TT
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
// Lora
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/variables';

/* Global styles */
@import 'global/apps';
@import 'global/flex';
@import 'global/grid';
@import 'global/window';

/* Styles limited to system sheets */
.blank {
  @import 'components/actors';
  @import 'components/items';
  @import 'components/item-list';
}
