.portrait {
  flex: none;
  border-width: 0;
  margin-right: 5px;
}

.check {
  cursor: pointer;
}

.roll-template>div {
  display: none;
  margin: 5px;
}

.roll-template>div.active {
  display: block;
}

.roll-result{
  min-height: 88px;

  h1 {
    font-size: var(--font-size-18);
    font-weight: bold;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }

  .roll-info{
    position: relative;

    .dice-rolls {
      position: relative;
      list-style: none;
      margin: 5px 0;
      padding: 0;
      overflow: hidden;

      .dice {
        position: relative;
        min-width: 36px;
        line-height: 36px;
        float: left;
        margin-right: 1px;
        background-image: url(/icons/svg/d6-grey.svg);
        background-repeat: no-repeat;
        background-size: 36px 36px;
        font-size: var(--font-size-16);
        color: #000;
        font-weight: bold;
        text-align: center;
      }
    }

    .result {
      position: absolute;
      min-width: 48px;
      line-height: 48px;
      top: 5px;
      right: 20px;
      background-image: url(../icons/ui/two-dice.svg);
      background-repeat: no-repeat;
      background-size: 48px 48px;
      font-size: var(--font-size-16);
      color: #000;
      font-weight: bold;

      .text {
        position: relative;
        left: 32px;
        bottom: 14px;
      }
    }
  }

  .difficulty {
    text-align: center;
  }

  .success, .panic, .fainting {
    flex: 0;
    font-size: var(--font-size-18);
    font-weight: bold;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
    text-transform: uppercase;
  }

  .panic, .fainting {
    margin-top: 10px;
  }
}
