<div>
  <div class="inputs-block">

    <div class="modifier">
      <label for="modifier">{{localize 'SARMATIANS.Roll.Modifier'}}: </label>
      <input id="modifier" name="modifier" type="number" value="0" data-dtype="Number">
    </div>
  </div>

  <button type="submit">{{localize "SARMATIANS.Roll.Submit"}}</button>
</div>
